@using My.Framework.Web.Mvc.HtmlHelper
<!DOCTYPE html>
<html lang="lang="@MvcDemos.Helpers.CultureHelper.GetCurrentNeutralCulture()">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Styles.Render(
        "~/Content/themes/redmond/css",
        "~/Content/Themes/jqgrid")

    @RenderSection("StyleContent", required: false)


    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <nav>
                    @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <span>Version @Html.CurrentVersion() </span>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render(
        "~/bundles/jquery",
        "~/bundles/jqueryui",
        "~/bundles/jqueryval",
        "~/bundles/jqueryplugins")

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
